[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn src.main:app --reload"
setup-mongo = "bash scripts/1_setup_mongo.sh"
setup-postgres = "bash scripts/2_setup_postgres.sh"
load-mongo = "bash scripts/3_load_mongo.sh"
load-postgres = "bash scripts/4_load_postgres.sh"
setup-all = "bash scripts/setup_all.sh"
query-postgres = "python scripts/query_postgres.py"
query-mongo = "python scripts/query_mongodb.py"

[packages]
prisma = "*"
fastapi = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
pandas = "*"
python-dotenv = "*"
pymongo = "*"
scikit-learn = "==1.6.1"

[dev-packages]

[requires]
python_version = "3.12"
